---
layout: default
schema: "ceremonies-lune"
title: "Cérémonies de lune à Lacanau océan"
description: "Découvrez les Cérémonies de Lune organisés par Nathalie à Lacanau Océan et dans la région."
permalink: /ceremonies-lune/
page_title: "Cérémonie de Lune"
page_subtitle: "Participez aux Cérémonies de Lune organisées dans un cadre naturel à Lacanau Océan."
cta_text: "S'inscrire"
upcoming_ceremonies_title: "Cérémonies à venir"
past_ceremonies_title: "Cérémonies passées"
---

{% assign upcoming_ceremonies = site.ceremonie_lune | where_exp: "event", "event.event_date >= site.time" | where: "type", "Cérémonie de Lune" | sort: "event_date" %}
{% assign past_ceremonies = site.ceremonie_lune | where_exp: "event", "event.event_date < site.time" | where: "type", "Cérémonie de Lune" | sort: "event_date" %}


<!-- Cerémonies à venir -->
{% if upcoming_ceremonies.size > 0 %}
<section class="pt-22 pb-8 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center mb-12">
        <h2 class="text-3xl md:text-4xl  text-neutral-800 mb-4 inline-block pb-2">{{page.upcoming_ceremonies_title | upcase}}</h2>
      </div>
        <div class="grid grid-cols-1
                                      {% case upcoming_Cercles.size %}
                                        {% when 1 %}
                                          lg:grid-cols-1
                                        {% when 2 %}
                                          lg:grid-cols-2
                                        {% else %}
                                          lg:grid-cols-3
                                        {% endcase %}
                                        gap-8">
            {% for event in upcoming_ceremonies %}
              {% include card.html %}
            {% endfor %}
        </div>
    </div>
</section>
{% else %}
<section class="pt-22 pb-8 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center mb-12">
        <h2 class="text-3xl md:text-4xl text-neutral-800 mb-4  inline-block pb-2">{{page.upcoming_ceremonies_title | upcase}}</h2>
      </div>
        <p class="text-center text-neutral-600">Aucune cérémonie cacao à venir pour le moment. Restez à l'écoute pour les prochaines annonces !</p>
    </div>
</section>
{% endif %}
<!-- Ceremoniess passés -->
{% if past_ceremonies.size > 0 %}
<section class="pt-16 pb-8 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center mb-12">
        <h2 class="text-3xl md:text-4xl  text-neutral-800 mb-4  inline-block pb-2">{{page.past_ceremonies_title | upcase}}</h2>
      </div>
        <div class="grid grid-cols-1
                                      {% case upcoming_Cercles.size %}
                                        {% when 1 %}
                                          lg:grid-cols-1
                                        {% when 2 %}
                                          lg:grid-cols-2
                                        {% else %}
                                          lg:grid-cols-3
                                        {% endcase %}
                                        gap-8">
            {% for event in past_ceremonies %}
              {% include card.html %}
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
