---
layout: default
title: "Événements Yoga à Lacanau"
description: "Découvrez les retraites, ateliers et événements spéciaux organisés par Nathalie à Lacanau et dans la région."
permalink: /evenements/
page_title: "Événements &amp; Retraites"
page_subtitle: "Participez à des moments privilégiés pour approfondir votre pratique du yoga. Retraites, ateliers thématiques et événements spéciaux vous attendent."
cta_text: "S'inscrire"
upcoming_retreats_title: "Retraites à venir"
upcoming_workshops_title: "Ateliers à venir"
upcoming_ceremonies_title: "Cercles &amp; Cérémonies"
---

{% include sections/page_title.html %}

{% assign upcoming_retreats = site.events | where_exp: "event", "event.event_date >= site.time" | where: "type", "Retraite" | sort: "event_date" %}
{% assign upcoming_workshops = site.events | where_exp: "event", "event.event_date >= site.time" | where: "type", "Atelier" | sort: "event_date" %}
{% assign upcoming_ceremonies = site.events | where_exp: "event", "event.event_date >= site.time" | where: "type", "Cercle & Cérémonie" | sort: "event_date" %}

<!-- Retraites à venir -->
{% if upcoming_retreats.size > 0 %}
<section class="pt-16 pb-8 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center mb-12">
        <h2 class="text-3xl md:text-4xl font-bold text-jungle-800 mb-4 border-b-2 border-jungle-400 inline-block pb-2">{{page.upcoming_retreats_title}}</h2>
      </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
            {% for event in upcoming_retreats %}
              {% include card.html %}
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<!-- Ateliers à venir -->
{% if upcoming_workshops.size > 0 %}
<section class="pt-8 pb-8 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-12">
        <h2 class="text-3xl md:text-4xl font-bold text-jungle-800 mb-4 border-b-2 border-jungle-400 inline-block pb-2">{{page.upcoming_workshops_title}}</h2>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
            {% for event in upcoming_workshops %}
              {% include card.html %}
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<!-- Cercles & Cérémonies à venir -->
{% if upcoming_ceremonies.size > 0 %}
<section class="pt-8 pb-16 ">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-12">
        <h2 class="text-3xl md:text-4xl font-bold text-jungle-800 mb-4 border-b-2 border-jungle-400 inline-block pb-2">{{page.upcoming_ceremonies_title}}</h2>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
            {% for event in upcoming_ceremonies %}
              {% include card.html %}
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
