<!-- Section About optimisée SEO -->
<section class="bg-[url('{{ page.about_section.profile_image }}')]
                sm:bg-[url('{{ page.about_section.profile_image_sm }}')]
                bg-scroll sm:bg-fixed bg-cover bg-center bg-no-repeat relative overflow-hidden h-screen">
                <!-- Image cachée pour l'accessibilité -->
        {% if page.about_section.profile_image %}
        <img src="{{ page.about_section.profile_image }}"
             alt="Nathalie, professeure de yoga certifiée à Lacanau"
             class="sr-only">
        {% endif %}
  <!-- Overlay -->
  <div class="absolute inset-0 bg-black opacity-20"></div>

  <!-- Contenu -->
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-24 pt-40">
    <div class="flex flex-col justify-items-center mx-auto w-full sm:w-5/6 md:w-3/4 lg:w-2/3 xl:w-1/2 text-center">

      <h1 class="text-balance text-2xl md:text-3xl text-neutral-50 mb-6 tracking-[11px] leading-12">
        {{ page.about_section.title | upcase}}
      </h1>
      <article class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 sm:py-12 ">
        <div class="max-w-4xl mx-auto">
            {% assign about_page = site.pages | where: "slug", "a-propos" | first %}

            {% if page.url == "/" %}
                <!-- Extrait pour la page d'accueil -->
                <div class="[&>h3]:text-xl [&>h3]:sm:text-2xl   text-neutral-50 space-y-4 sm:space-y-6">
                    {{ about_page.excerpt | markdownify }}

                    <!-- Call-to-action optimisé -->

                </div>
            {% else %}
                <!-- Contenu complet pour la page à propos -->
                <div class="text-neutral-50 [&>h3]:text-xl [&>h3]:sm:text-2xl [&>h3]:font-bold prose prose-base sm:prose-lg  space-y-4 sm:space-y-6">
                    {{ about_page.content | markdownify }}
                </div>
            {% endif %}
        </div>
    </article>
    <div class="flex gap-4 justify-center tracking-[8px] pt-32">
        {% include button.html
            style="outline"
            url="/cours/"
            text=page.about_section.cta
            icon=true %}
      </div>
      <p class=" text-jungle-600 mb-8 opacity-0">
        {{ page.about_section.cta_subtitle }}
      </p>


    </div>
  </div>

</section>
