{% if page.availability or page.location_info %}
<div class="bg-white py-8">
    <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">

        <!-- Horaires et localisation -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-12 md:divide-x md:divide-neutral-200">

            {% if page.availability %}
            <div class=" p-6 ">
                <h3 class="text-xl font-semibold text-neutral-800 mb-4 px-3 py-2">
                    {{ page.availability.title | upcase}}
                </h3>
                <div class="space-y-2 text-neutral-600">
                    {% for schedule in page.availability.schedule %}
                    <p><strong>{{ schedule.days }} :</strong> {{ schedule.hours }}</p>
                    {% endfor %}
                </div>
                {% if page.availability.note %}
                <p class="text-sm text-neutral-500 mt-4 bg-neutral-50 p-2 ">
                    {{ page.availability.note }}
                </p>
                {% endif %}
            </div>
            {% endif %}

            {% if page.location_info %}
            <div class=" p-6 ">
                <h3 class="text-xl font-semibold text-neutral-800 mb-4  px-3 py-2">
                    {{ page.location_info.title | upcase}}
                </h3>
                <div class="space-y-2 text-neutral-600">
                    {% for detail in page.location_info.details %}
                    <p><strong>{{ detail.label }} :</strong> {{ detail.value }}</p>
                    {% endfor %}
                </div>
                {% if page.location_info.note %}
                <p class="text-sm text-neutral-500 mt-4 bg-neutral-50 p-2 ">
                    {{ page.location_info.note }}
                </p>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
