<section class="py-16 bg-white">
    <div class=" mx-auto">
        <div class="text-center mb-12">
            <h2 class="text-3xl md:text-4xl font-bold text-jungle-800 mb-4 border-b-2 border-sable-200 inline-block pb-2">
                {{ page.events_section.title }}
            </h2>
            <p class="text-xl text-jungle-600 px-4 max-w-2xl mx-auto">
                {{ page.events_section.subtitle }}
            </p>
        </div>

<!-- Listes des évènements -->
        <div class="max-w-7xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 px-4 sm:px-6 lg:px-8">
            {% for event in site.events limit:3 %}
            <div class="bg-gradient-to-br from-sable-50 to-jungle-50 p-6 shadow-lg hover:shadow-xl transition-shadow relative group cursor-pointer rounded-md">
                <!-- Lien vers l'événement -->
              <a href="{{ event.url }}" class="absolute inset-0 z-0" aria-label="Voir l'événement {{ event.title }}">
                    <span class="sr-only">Voir l'événement {{ event.title }}</span>
                </a>
                {% if event.image %}
                <div class="aspect-w-16 aspect-h-9 mb-4 overflow-hidden rounded-md">
                    <img src="{{ event.image }}"
                         alt="{{ event.title }}"
                         class="w-full h-32 object-cover">
                </div>
                {% endif %}

                <div class="flex justify-between text-sm text-jungle-500 mb-2">
                    {% if event.date %}
                    <div class="flex items-center">
                      <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                      </svg> {{ event.date | date: "%d %B %Y" }}
                      </div>
                    {% endif %}
                    <span class="inline-block bg-jungle-200 text-jungle-800 px-3 py-1 rounded-full text-sm font-medium">
                              {{ event.type }}
                          </span>
                </div>


                <h3 class="text-2xl font-bold text-jungle-800 mb-2">{{ event.title }}</h3>
                <p class="text-jungle-600 text-md">{{ event.excerpt | strip_html | truncate: 80 }}</p>
            </div>
            {% endfor %}
        </div>

        <div class="text-center pt-12">
          {% include button.html
          style="primary"
          url="/cours/"
          text="Tous les évènements"
          icon=true %}
        </div>
    </div>
</section>
