<section class="py-16 bg-white">
    <div class=" mx-auto">
        <div class="text-center mb-12">
            <h2 class="text-3xl md:text-4xl font-bold text-jungle-800 mb-4 border-b-4 border-sable-200 inline-block pb-2">
                {{ page.events_section.title }}
            </h2>
            <p class="text-xl text-jungle-600 px-4 max-w-2xl mx-auto">
                {{ page.events_section.subtitle }}
            </p>
        </div>

        {% assign upcoming_events = site.events | where_exp: "event", "event.date >= site.time" | sort: "date" %}

        {% if upcoming_events.size > 0 %}
        <div class="bg-gradient-to-r from-jungle-600 to-sable-500 py-8 px-12 text-white mb-8">
            {% assign next_event = upcoming_events.first %}
            <div class="flex flex-col items-center justify-between">
                <div class="mb-4 text-center ">
                    <h2 class="text-3xl font-bold mb-2">Prochain événement</h2>
                    <p class="text-xl mb-2">{{ next_event.title }}</p>
                    <p class="opacity-90">{{ next_event.date | date: "%d %B %Y" }}</p>
                </div>
                <a href="{{ next_event.url}}"
                   class="bg-white text-jungle-700 px-6 py-3 rounded-md font-semibold hover:bg-jungle-50 transition-colors">
                    Découvrir
                </a>
            </div>
        </div>
        {% endif %}

        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 px-4">
            {% for event in site.events limit:3 %}
            <div class="bg-gradient-to-br from-sable-50 to-jungle-50 p-6 shadow-lg hover:shadow-xl transition-shadow">
                {% if event.image %}
                <div class="aspect-w-16 aspect-h-9 mb-4 overflow-hidden">
                    <img src="{{ event.image }}"
                         alt="{{ event.title }}"
                         class="w-full h-32 object-cover">
                </div>
                {% endif %}

                <div class="text-sm text-jungle-500 mb-2">
                    {% if event.date %}
                    📅 {{ event.date | date: "%d %B %Y" }}
                    {% endif %}
                </div>

                <h3 class="text-2xl font-bold text-jungle-800 mb-2">{{ event.title }}</h3>
                <p class="text-jungle-600 text-md">{{ event.excerpt | strip_html | truncate: 80 }}</p>
            </div>
            {% endfor %}
        </div>

        <div class="text-center pt-12">
          {% include button.html
          style="primary"
          url="/cours/"
          text="Tous les évènements"
          icon=true %}
        </div>
    </div>
</section>
