<section class="relative h-dvh max-h-screen flex items-start overflow-hidden" style="height: calc(100vh - 4rem);">
  <!-- Background avec images côte à côte -->
  <div class="absolute inset-0 flex">
    {% for image in page.hero.images %}
    <div class="flex-shrink-0 h-full">
      <img src="{{ image }}" alt="Yoga à Lacanau" class="h-full w-auto object-contain">
    </div>
    {% endfor %}
  </div>

  <!-- Overlay -->
  <div class="absolute inset-0 bg-black opacity-20"></div>

  <!-- Contenu -->
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-24">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
      <div class="text-center lg:text-left">
        <h1 class="text-2xl md:text-4xl font-bold text-neutral-50 mb-6 tracking-[11px] leading-tight">
          {{ page.hero.title }}
        </h1>
        <p class="text-xl md:text-2xl text-jungle-600 mb-8 opacity-0">
          {{ page.hero.subtitle }}
        </p>
        <div class="flex flex-col sm:flex-row gap-4 justify-start">
          {% include button.html
              style="outline"
              url="/cours/"
              text= page.hero.cta
              icon=true %}
        </div>
      </div>
    </div>
  </div>
</section>
