<article class="bg-[url('{{ lieu.image }}')] bg-cover bg-center overflow-hidden transition-shadow relative group h-[250px] lg:h-[350px]">

  <!-- Overlay -->
  <div class="absolute inset-0 bg-black opacity-25 z-10"></div>

  <!-- Zone cliquable (tout sauf le bouton) -->
  <div class="absolute inset-0 z-20 pointer-events-none">
    <a href="#agenda" class="absolute inset-0 pointer-events-auto" aria-label="Voir l'événement">
      <span class="sr-only">Voir l'événement le planning</span>
    </a>
  </div>

  <div class="p-6 relative z-30 pointer-events-none">
    <!-- Contenu non-cliquable -->
    <div class="pointer-events-none">
      <h3 class="text-xl text-white text-shadow-lg mb-3">{{ lieu.nom  | upcase}}</h3>

      <div class="grid grid-cols-2 lg:grid-cols-1 gap-3 mb-4 text-sm text-white text-shadow-lg">
        <div class="flex items-center text-white text-shadow-md">
          <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
          </svg>
          <span class="">
            {{ lieu.period}}
          </span>
        </div>

        {% if lieu.duration %}
        <div class="flex items-center text-white text-shadow-lg">
          <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
          </svg>
          {{ lieu.duration }}
        </div>
        {% endif %}

        {% if lieu.location %}
        <div class="flex items-center text-white text-shadow-lg">
          <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
          </svg>
          {{ lieu.location }}
        </div>
        {% endif %}

        {% if lieu.prices %}
        <div class="flex items-center text-white text-shadow-lg">
          <svg class="w-4 h-4 mr-2 shrink-none" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z"/>
          </svg>
          {{ lieu.prices.unit_course }}€ le cours, {{ lieu.prices.card_10_courses }}€ la carte de 10 cours
        </div>
        {% endif %}

        {% if lieu.adresse %}
        <div class="flex items-center text-white text-shadow-lg">
          <svg class="w-4 h-4 mr-2 shrink-none" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"/>
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"/>
          </svg>
          {{ lieu.adresse | markdownify }}
        </div>
        {% endif %}

        {% if lieu.reservation %}
        <div class="flex items-center text-white text-shadow-lg">
          <svg class="w-4 h-4 mr-2 shrink-none" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
          </svg>
          {{ lieu.reservation | markdownify }}
        </div>
        {% endif %}
      </div>
    </div>

    <!-- Zone du bouton réactivée -->
    <div class="text-center relative z-40 tracking-[8px] pointer-events-auto">

    </div>
  </div>
</article>
